<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
</head>
<body>
    <div class="container">
        <h1>Logowanie</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <label for="id_username">Nazwa użytkownika:</label>
            {{ form.username }}
            <label for="id_password">Hasło:</label>
            {{ form.password }}
            <button type="submit">Zaloguj</button>
        </form>
        {% if form.errors %}
            <div class="error">
                Podano niepoprawne dane logowania. Proszę spróbować ponownie.
            </div>
        {% endif %}
    </div>
<a href="{% url 'main' %}" class="button">Strona główna</a>
</body>
</html>
